# For full-stack: what the browser will connect to
# (use localhost if running on same machine; or your host LAN IP or domain)
MQTT_URL=ws://localhost:9001

# Credentials used by Mosquitto and injected into the dashboard
MQTT_USERNAME=username
MQTT_PASSWORD=password